# Set the default behavior, in case people don't have `core.autocrlf` set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native OS line endings on checkout, but committing those with LF in the repo.

# Required for robot tests to run properly in Windows.
**/testdata/*.txt     text  eol=lf
**/testdata/*.yaml    text  eol=lf

*.py     text
*.js     text
*.md     text
*.robot  text
*.go     text
